In [9]:
import pandas as pd
import sklearn

**Load dataset**

In [10]:
file_path = 'Dataset .csv'
data = pd.read_csv(file_path)

# Now 'data' contains your dataset, which you can manipulate or analyze further
print(data.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...          Currency Has Table booking  \
0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
1                          Japanese  ...  Botswana Pula(P)               Yes
2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
3                   Japanese, Sushi  ...  Botswana Pula(P)                No
4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3
1                  No                No                   No           3
2                  No                No                   No           4
3                  No                No                   No           4
4                  No                No                   No           4

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314
1               4.5    Dark Green   Excellent   591
2               4.4         Green   Very Good   270
3               4.9    Dark Green   Excellent   365
4               4.8    Dark Green   Excellent   229

[5 rows x 21 columns]

In [11]:
df = pd.read_csv('Dataset .csv')

**Preprocesing (keeping relevent coloumns)**

In [12]:
df = df[['Restaurant Name', 'Cuisines', 'Aggregate rating']]
df.head()

          Restaurant Name                          Cuisines  Aggregate rating
0        Le Petit Souffle        French, Japanese, Desserts               4.8
1        Izakaya Kikufuji                          Japanese               4.5
2  Heat - Edsa Shangri-La  Seafood, Asian, Filipino, Indian               4.4
3                    Ooma                   Japanese, Sushi               4.9
4             Sambo Kojin                  Japanese, Korean               4.8

**Computing the similarity matrix**

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Fill NaN values with empty string
df['Cuisines'] = df['Cuisines'].fillna('')

# Create a count matrix for the cuisines
count_vectorizer = CountVectorizer()
count_matrix = count_vectorizer.fit_transform(df['Cuisines'])

# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

# Display the cosine similarity matrix
cosine_sim[:5, :5]

array([[1.        , 0.57735027, 0.        , 0.40824829, 0.40824829],
       [0.57735027, 1.        , 0.        , 0.70710678, 0.70710678],
       [0.        , 0.        , 1.        , 0.        , 0.        ],
       [0.40824829, 0.70710678, 0.        , 1.        , 0.5       ],
       [0.40824829, 0.70710678, 0.        , 0.5       , 1.        ]])

**Making recommendations**

In [14]:
# Function to get recommendations
def get_recommendations(restaurant_name, cosine_sim=cosine_sim):
    try:
        # Get the index of the restaurant that matches the name
        idx = df[df['Restaurant Name'] == restaurant_name].index[0]

        # Get the pairwise similarity scores of all restaurants with that restaurant
        sim_scores = list(enumerate(cosine_sim[idx]))

        # Sort the restaurants based on the similarity scores
        sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

        # Get the scores of the 10 most similar restaurants
        sim_scores = sim_scores[1:11]

        # Get the restaurant indices
        restaurant_indices = [i[0] for i in sim_scores]

        # Return the top 10 most similar restaurants
        return df['Restaurant Name'].iloc[restaurant_indices]
    except IndexError:
        return "Restaurant not found in the dataset."

In [16]:
if __name__ == "__main__":
    restaurant_name = input("Enter a restaurant name: ")
    recommendations = get_recommendations(restaurant_name)
    print("Top recommendations for you:")
    print(recommendations)

Top recommendations for you:
609            Derby
671              KFC
1316    Captain Grub
1424      Tasty Fare
1845       Eggjactly
2161    Cafe Bonkerz
2537             KFC
3043             KFC
3669    Captain Grub
3911    Captain Grub
Name: Restaurant Name, dtype: object